
<app-admin-nav></app-admin-nav>
<html lang="hu">


  <!-- <div class="sc">

    <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" [(ngModel)]="actualRes" />
        <label class="form-label" for="form1">Search</label>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button> -->


<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


  <div class="box">
    <input type="text" placeholder="Keresés" [(ngModel)]="actualRes">
    <a href="">
      <i class='bx bx-search-alt bx-rotate-180 bx-tada' style='color:#2d5f94'  ></i>
    </a>
  </div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vezetéknév</th>
        <th scope="col">Keresztnév</th>
        <th scope="col">Email</th>
        <th scope="col">Telefonszám</th>
        <th scope="col">Vendégekszáma</th>
        <th scope="col">Dátum</th>
        <th scope="col">Műveletek</th>
      </tr>
    </thead>
    <tbody *ngFor='let res of reservations |  respipe:actualRes'>
      <tr>
        <th scope="row">{{res.id}}</th>
        <td class="cell">{{res.first_name}}</td>
        <td>{{res.last_name}}</td>
        <td>{{res.email}}</td>
        <td>{{res.tel_number}}</td>
        <td>{{res.guest_number}}</td>
        <td>{{res.res_date}}</td>
        <td>
          <button class="btn btn-info mt-2 py-2  mr-5p" (click)="Delete(res.id)">Törlés</button>
         <button (click)="update(res)" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Módosít</button>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<form [formGroup]="form" (ngSubmit)="Update()">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Szerkesztés</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="vezetéknév" formControlName="first_name" class="form-control" >
        <input type="text" placeholder="keresztnév" formControlName="last_name" class="form-control">
        <input type="email" placeholder="email" formControlName="email" class="form-control" >
        <input type="number" placeholder="telefonszám" formControlName="tel_number" class="form-control" >
        <input type="number" placeholder="vendégszám" formControlName="guest_number" class="form-control" >
        <input type="datetime-local"  formControlName="res_date" class="form-control" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
        <button type="submit" class="btn btn-primary">Mentés</button>
      </div>
    </div>
  </div>
</div>
</form>


</body>
</html>
