
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: 'Castoro Titling', cursive;

 }
.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 30px;
}
.box:hover input {
    width: 400px;
}

.box:hover input:focus:valid {
  width: 400px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a svg{
    color:#c38eb4;
    font-size: 18px;
    height: 25px;
}


// .sc input{
//     width: 100%;
// }
// .sc{
//     border-radius: 15px;
//     margin-bottom: 15px;
// }
// form button{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   height: 60px;
//   width: 250px;
//   line-height: 60px;
//   text-align: center;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   font-size: 24px;
//   text-decoration: none;
//   text-transform: uppercase;
//   letter-spacing:4px ;
//   border: none;
//   background: linear-gradient();
// }

// form button::before{
//   content: '';
//   height: 80px;
//   width: 250px;
//   position:absolute ;
//   top: -8px;
//   left: 0;
//   border-left: 2px solid #262626;
//   border-right: 2px solid #262626;
//   transition: 1s;
// }
// form button::after{
//   content: '';
//   height: 60px;
//   width: 270px;
//   position:absolute ;
//   top: 0;
//   left: -15px;
//   border-top: 2px solid #262626;
//   border-bottom: 2px solid #262626;
//   transition: 1s;

// }


// form button:hover::before{
//   transform: rotateY(180deg);
// }
// form button:hover::after{
//   transform: rotateX(180deg);
// }
@media screen and (max-width: 700px){

  .box input{
    width:80px;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

}


