<form [formGroup]="form" (ngSubmit)="reservation()">


  <input type="text" placeholder="vezetéknév" formControlName="first_name" class="form-control" >
  <input type="text" placeholder="keresztnév" formControlName="last_name" class="form-control" >
  <input type="text" placeholder="email" formControlName="email" class="form-control" >
  <input type="text" placeholder="telefonszám" formControlName="tel_number" class="form-control" >
  <input type="text" placeholder="telefonszám" formControlName="guest_number" class="form-control" >

  <input type="datetime-local"  formControlName="res_date" class="form-control" >

  <div class="button mb-3 text-center">
    <button id="button" class="btn btn-info" type="submit" >Felvétel</button>
  </div>
</form>

