<app-navbar></app-navbar>


<form [formGroup]="form" (ngSubmit)="reservation()">


  <input type="text" [disabled]="success" [hidden]="success"  placeholder="vezetéknév" formControlName="first_name" class="form-control" >
  <input type="text"[disabled]="success" [hidden]="success" placeholder="keresztnév" formControlName="last_name" class="form-control" >
  <input type="email"[disabled]="success" [hidden]="success" placeholder="email" formControlName="email" class="form-control" >
  <input type="number" [disabled]="success" [hidden]="success"placeholder="telefonszám" formControlName="tel_number" class="form-control" >
  <input type="number"[disabled]="success" [hidden]="success" placeholder="vendégszám" formControlName="guest_number" class="form-control" maxlength="2" >
  <input type="datetime-local" [disabled]="success" [hidden]="success" formControlName="res_date" class="form-control" >

  <div class="button mb-3 text-center">
    <button id="button" class="btn btn-info" [disabled]="success" [hidden]="success" type="submit" >Felvétel</button>
  </div>
</form>


