<app-navbar></app-navbar>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>




  <form [formGroup]="form" (ngSubmit)="reservation()">


<div class="inputBox">
  <input type="text" [disabled]="success" [hidden]="success"  formControlName="first_name"  required="required" >
  <label>Vezetéknév</label>
</div>
<div class="inputBox">
  <input type="text" [disabled]="success" [hidden]="success"  formControlName="last_name"  required="required" >
  <label>Keresznév</label>
</div>
<div class="inputBox">
  <input type="email" [disabled]="success" [hidden]="success"  formControlName="email"  required="required" >
  <label>Email</label>
</div>
<div class="inputBox">
  <input type="number"
  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
  [disabled]="success" [hidden]="success"  formControlName="tel_number"  required="required" >
  <label>Telefonszám</label>
</div>
<div class="inputBox">
  <input type="number" [disabled]="success" [hidden]="success"  formControlName="guest_number"  required="required" >
  <label>Vendégek száma</label>
</div>
<div class="inputBox">
  <input type="datetime-local" [disabled]="success" [hidden]="success"  formControlName="res_date"  required="required" >
  <label>Foglalási dátum</label>
</div>



<button  [disabled]="success" [hidden]="success" type="submit" >Felvétel</button>

</form>


</body>
</html>
