

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@100&family=Righteous&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: 'Righteous', cursive;

 }

.reservations{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/banner-bg.jpg");
  background-size:cover;
  height: 75vh; /* vagy akármilyen érték ami eltünteti a fehér csíkot */;

}
.reservations .res_h1 h1{
  margin-left: 250px;
  color: #2980b9;
  margin-bottom: 150px;
}




.reservations form   {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0px; /* A margin jobbra irányuló értéke 650px */
  padding: 15px;
  font-size: 12px;
  margin-top: 15px;
  font-weight: bold;

}

.reservations h1{
  position: absolute;
  margin-bottom: 500px;

}


// .reservations form .inputBox {
//    position: relative;
//   margin: 20px 0 ;

// }
.reservations form .inputBox input{

    width: 420px;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0 10px ;
    margin:15px 0;
    background: transparent;
    border: 2.2px solid #92400e;
    outline: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 10px;
  }
  .reservations form .inputBox label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  }

  .reservations form .inputBox input::placeholder{
    color: black;
  }




  input[type="datetime-local"] {
    -webkit-text-fill-color: black;
    -webkit-opacity: 1;
  }




.reservations button{
  display: inline-block;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #3498db;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.reservations button:hover{
  background-color: #2980b9;

}
// .reservations button{
//   display: inline-block;
//   padding: 12px 28px;
//   font-size: 18px;
//   font-weight: 600;
//   color: #ffffff;
//   background-color: #3498db;
//   border: none;
//   border-radius: 50px;
//   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
//   text-align: center;
//   text-decoration: none;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }
// .reservations button:hover{
//   background-color: #2980b9;

// }



//gomb
  // form button{
  //   position: absolute;
  //   margin-top: 50px;
  //   left: 50%;
  //   // top: 50%;
  //   // left: 50%;
  //   transform: translate(-50%,-50%);
  //   height: 60px;
  //   width: 200px;
  //   line-height: 60px;
  //   text-align: center;
  //   font-family: Verdana, Geneva, Tahoma, sans-serif;
  //   font-size: 24px;
  //   text-decoration: none;
  //   text-transform: uppercase;
  //   letter-spacing:4px ;
  //   border: none;
  //   background: red;
  // }

  // form button::before{
  //   content: '';
  //   height: 80px;
  //   width: 200px;
  //   position:absolute ;
  //   top: -8px;
  //   left: 0;
  //   border-left: 2px solid #262626;
  //   border-right: 2px solid #262626;
  //   transition: 1s;
  // }
  // form button::after{
  //   content: '';
  //   height: 60px;
  //   width: 230px;
  //   position:absolute ;
  //   top: 0;
  //   left: -15px;
  //   border-top: 2px solid #262626;
  //   border-bottom: 2px solid #262626;
  //   transition: 1s;

  // }


  // form button:hover::before{
  //   transform: rotateY(180deg);
  // }
  // form button:hover::after{
  //   transform: rotateX(180deg);
  // }


  @media screen and (max-width: 375px){
    .reservations h1{
      opacity: 0;

    }
    .reservations .inputBox
    {

      width: 100px;


    }
    .reservations form .inputBox input{
      width: 200px;
      align-items: center;
      justify-content: center;
    }
     .reservations form button{
      align-items: center;
      justify-content: center;
    }
  }
