nav{
  background:url("/assets/fire.gif");
  background-repeat: no-repeat;
  background-size: cover;

}
nav a
{
  color: white;
}

#na{
  display: flex;
  background: red;
  width: 150px;
  border-radius: 25px;

  align-content: center;
  justify-content: center;
}