
<app-admin
></app-admin>
<form [formGroup]="form" (ngSubmit)="uploadFile()">
  <input type="file" (change)="onFileChange($event)"  formControlName="image" class="form-control">
  <input type="text" placeholder="név" formControlName="name" class="form-control" >

  <input type="text"  class="form-control" placeholder="kategória név , pl csípős" formControlName="description">
  <div class="button mb-3 text-center">
    <button id="button" class="btn btn-info" type="submit" >Felvétel</button>
  </div>
</form>






  <div class="container" *ngFor = 'let category of categories'>
    <div class="card">
      <td>
        <button  class="btn btn-info" (click)="Delete(category.id)">Törlés</button>
      </td>
      <div class="imgBx" data-text="Megyeri">
        <img [src]='"http://localhost:8000/storage/images/"+category.image' alt="" class="image" height="15px">
        <td>{{category.name}}</td>
      </div>
    </div>
  </div>


