<app-navbar></app-navbar>





<html lang="hu">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>


  <div class="content">

      <h1>TreCorte</h1>

  <div class="countdown">
    <div class="countdown-item">
      <span id="day">{{ day }}</span>
      <span>Nap</span>
    </div>
    <div class="countdown-item">
      <span id="hour">{{ hour }}</span>
      <span>Óra</span>
    </div>
    <div class="countdown-item">
      <span id="minute">{{ minute }}</span>
      <span>Perc</span>
    </div>
    <div class="countdown-item">
      <span id="second">{{ second }}</span>
      <span>Mádosperc</span>
    </div>
  </div>
  </div>
</header>
<body>


  <div class="m">
    <h2>Ételeink</h2>
    <div class="menus">
    <div class="containerimg" *ngFor = 'let menu of menus'>
    <div class="card">
      <div class="imgBx" data-text="Megyeri">
        <img [src]='"http://localhost:8000/storage/images/"+menu.image' alt="{{menu.name}}">
        <tr>{{menu.name}}</tr>
        <td>{{menu.elnevez}}</td>
      </div>
    </div>
    </div>
    </div>
  </div>







  <div class="reservations">
    <h1>Foglalj Most</h1>
    <form [formGroup]="form"  id="foglalas" (ngSubmit)="reservation()">
      <div class="inputBox">
        <!-- <label>Vezetéknév</label> -->
        <input type="text" formControlName="first_name" placeholder="Vezertéknév"  />
      </div>
      <div class="inputBox">
        <!-- <label>Keresztnév</label> -->
        <input type="text" formControlName="last_name" placeholder="Keresztnév"/>
      </div>
      <div class="inputBox">
        <!-- <label>Email</label> -->
        <input type="email" formControlName="email"  placeholder="Email"/>
      </div>
      <div class="inputBox">
        <!-- <label>Email</label> -->
        <input type="tel" formControlName="tel_number"  placeholder="+36 123 456 78910"/>
      </div>


      <div class="inputBox">
        <!-- <label>Vendégszám</label> -->
        <input type="number" formControlName="guest_number" placeholder="Vendégek száma" />
      </div>
      <div class="inputBox">
        <!-- <label >Foglalási dátum</label> -->
        <input type="datetime-local" formControlName="res_date" />
      </div>

      <button type="submit" >Foglalás</button>
    </form>
  </div>
</body>






</html>

