

  @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

  *{
    margin: 0;
    padding: 0;
    font-family: 'Rubik Wet Paint', cursive;

  }

header{
position: relative;
width:100%;
height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
background: url("/assets/oc.jpg");
background-repeat: no-repeat;
background-size: cover;
}

header img {
  width: 100%;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;

}

.countdown-item span:first-child {
  font-size: 48px;
}

.countdown-item span:last-child {
  font-size: 18px;
  margin-top: -10px;
}




















footer{
  background-color: black;
}
.footerCont{
  width: 100%;
  padding: 70px 30px 20px;

}
.socailIcons{
  display: flex;
  justify-content: center;
}

.socailIcons a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}
.socailIcons a svg {
  font-size: 4em;
  opacity: 0.9;
}
.socailIcons a:hover{
  transition: 0.5s;
}
.socailIcons a:hover svg{
  color: orangered;
  transition: 0.5s;
}
.footerNavv ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNavv {
  margin: 30px 0 ;

}
.footerNavv ul li{
  color: orangered;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNavv ul li a {
  background: -webkit-linear-gradient(red, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footerNavv ul li a:hover{
  opacity: 1;
  color: orangered;
}
.footerBottom{
  padding:20px;
  text-align: center;
}
.footerBottom p {
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width:700px){
  .footerNavv ul{
    flex-direction: column;
  }
  header h1{
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10px;

  }
  .footerNavv ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}


